# This is all example data, replace this with your own data
MAKIMA_NAME=Makima
MAKIMA_CREATOR_NAME=
MAKIMA_DISCORD_USERNAME=xrehpicx
MAKIMA_DISCORD_USERID=509005765380739107
MAKIMA_ADMIN_CHANNELS=
MAKIMA_NOTIFICATION_CHANNEL=1142624472071565384
MAKIMA_SYSTEM_CHANNEL=1177561269880361247
MAKIMA_ADMINS=509104765380739107,689467139873892429
MAKIMA_SHELL_USERNAME=makima
MAKIMA_SHELL_PASSWORD=makima
MAKIMA_WORKING_DIR=/home/makima/makima_data
MAKIMA_MEMORY_DIR=/home/makima/makima_memory


DISCORD_BOT_TOKEN=MTE0MDg5MzczOTA2NjMzMTE0Ng.GbSU7R.2Xv0ezbtm4CJWHI_CWpdOmyCMHhTzCa6cZmnh8
DISCORD_CLIENT_ID=1150893739066331146
OPENAI_API_KEY=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
NEWS_API_KEY=c2fcd506056d4248b807f9g057377872