MAKIMA_NAME=Makima
MAKIMA_CREATOR_NAME=
MAKIMA_DISCORD_USERNAME=xrehpicx
MAKIMA_DISCORD_USERID=509004764380739107
MAKIMA_ADMIN_CHANNELS=
MAKIMA_NOTIFICATION_CHANNEL=1142524472074565384
MAKIMA_SYSTEM_CHANNEL=1177561269740361247
MAKIMA_ADMINS=509004765480739107,689467039873892429
MAKIMA_SHELL_USERNAME=makima
MAKIMA_SHELL_PASSWORD=makima
MAKIMA_WORKING_DIR=/home/raj/makima_data
MAKIMA_MEMORY_DIR=/home/makima/makima_memory


DISCORD_BOT_TOKEN=MTE0MDg5MgczOTA2NjMrMTE0Ng.GbSU9R.2Xv0erbtm4CJWHI_CWqdOmrCMHhTzCa6cZmnh8
DISCORD_CLIENT_ID=1140493739466331146
OPENAI_API_KEY=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
LEMON_API_KEY=HCYXiO4LRP7ErdwyrbCVLoPFHJU72jmC
NEWS_API_KEY=c2fcd506046d4258b407f9f057377872

TELEGRAM_BOT_TOKEN=6750473932:AAFe_f04hbf8rbYEJH0tdkav4F47Uo2BMpI
TELEGRAM_ADMIN=xrehpicx
TELEGRAM_NOTIFICATION_CHANNEL=-1003084631533

SEARCH_API_KEY=2514656b6d2ca633af01fd95329790f83e12478dab622cdfbf30d6d3927c8c94